<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div>
        <div class='row jc-end'>
            <i class='material-icons clear pointer'>clear</i>
        </div>
        <div class='modal-title'>
            만들기
        </div>
        <div class='mt3 row jc-around'>
            <div class='goalButton pointer col ai-center'>
                <i class='material-icons'>stars</i>
                <div class='mt8px'>목표</div>
            </div>
            <div class='todoButton pointer col ai-center'>
                <i class='material-icons'>assignment</i>
                <div class='mt8px'>할일</div>
            </div>
            <div class='noteButton pointer col ai-center'>
                <i class='material-icons'>article</i>
                <div class='mt8px'>노트</div>
            </div>
        </div>
        <div class='mt3 row jc-end'>
            <button class='clear'>취소</button>
        </div>
    </div>
</body>

</html>